In [1]:
import mysql.connector as connection
mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
cursor= mydb.cursor()
cursor.execute("SELECT * FROM iNeuron.emp;")
cursor.fetchall()

[(1000, 'Sachin', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Tanhi', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'jfhg', 'jhfgg', 'ABC', '540456000'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'iuehrf', 'irufhf', 'ABC', '9876540000'),
 (1009, 'iuuuuehrf', 'irufhf', 'ABC', '9876540000')]

In [2]:
cursor.execute("INSERT INTO iNeuron.emp VALUES ('1007','bfyuiohjdk','jrhykjhdgf','XYZ',9945540000)")
cursor.execute("INSERT INTO iNeuron.emp VALUES ('1008','euewedsgeg','fhhdfffg','XYZ',193440000)")
cursor.execute("INSERT INTO iNeuron.emp VALUES ('10010','irurqqwyugbf','iutrrygf','XYZ',996326780000)")
cursor.execute("INSERT INTO iNeuron.emp VALUES ('10011','iuertyuhrf','iruftyhdhf','ABC',987654055500)")
mydb.commit()
print("DATA Inserted!!")

DATA Inserted!!

In [3]:
cursor.execute("SELECT * FROM iNeuron.emp;")
cursor.fetchall()

[(1000, 'Sachin', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Tanhi', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'jfhg', 'jhfgg', 'ABC', '540456000'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'iuehrf', 'irufhf', 'ABC', '9876540000'),
 (1007, 'bfyuiohjdk', 'jrhykjhdgf', 'XYZ', '9945540000'),
 (1008, 'euewedsgeg', 'fhhdfffg', 'XYZ', '193440000'),
 (1009, 'iuuuuehrf', 'irufhf', 'ABC', '9876540000'),
 (10010, 'irurqqwyugbf', 'iutrrygf', 'XYZ', '996326780000'),
 (10011, 'iuertyuhrf', 'iruftyhdhf', 'ABC', '987654055500')]

In [7]:
# Q-17. Write an SQL query to show the top n (say 10) records of a table.

cursor.execute("SELECT emp_sal FROM iNeuron.emp LIMIT 10;")
cursor.fetchall()

[('540000',),
 ('5403450',),
 ('540456000',),
 ('345540000',),
 ('78540000',),
 ('546780000',),
 ('9876540000',),
 ('9945540000',),
 ('193440000',),
 ('9876540000',)]

In [8]:
# Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

cursor.execute("SELECT * FROM iNeuron.emp Emp1 WHERE (5)=(SELECT COUNT(DISTINCT(Emp2.emp_sal))FROM iNeuron.emp Emp2 WHERE Emp2.emp_sal >= Emp1.emp_sal)")
cursor.fetchall()

[(1004, 'euegeg', 'fhhffg', 'XYZ', '78540000')]