In [7]:
# establish connection
import mysql.connector as connection
mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
# check if the connection is established
print(mydb.is_connected())

# fetch data
cursor = mydb.cursor()
cursor.execute("select * from iNeuron.Worker")
cursor.fetchall()

True

[(100, 'Amitabh', 'Finda', 'ABC', 'ami'),
 (1000, 'Sachin', 'Kumar', 'XYZ', 'aaa'),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb'),
 (1002, 'jfhg', 'jhfgg', 'ABC', 'ccc'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', 'eee'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (1006, 'iuehrf', 'irufhf', 'ABC', 'ggg'),
 (10007, 'Amitabh', 'Finda', 'ABC', 'ami')]

In [11]:
# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.
cursor.execute("SELECT REPLACE(first_name,'a', 'A') FROM iNeuron.worker;")
cursor.fetchall()

[('AmitAbh',),
 ('SAchin',),
 ('TAnhi',),
 ('jfhg',),
 ('bfhjdk',),
 ('euegeg',),
 ('iruyugbf',),
 ('iuehrf',),
 ('AmitAbh',)]

In [14]:
# Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending
cursor.execute("SELECT * FROM iNeuron.worker ORDER BY first_name ASC, department DESC;")
cursor.fetchall()

[(100, 'Amitabh', 'Finda', 'ABC', 'ami'),
 (10007, 'Amitabh', 'Finda', 'ABC', 'ami'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', 'eee'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (1006, 'iuehrf', 'irufhf', 'ABC', 'ggg'),
 (1002, 'jfhg', 'jhfgg', 'ABC', 'ccc'),
 (1000, 'Sachin', 'Kumar', 'XYZ', 'aaa'),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb')]

In [15]:
cursor.execute("SELECT * FROM iNeuron.emp;")
cursor.fetchall()

[(1000, 'Sachin', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Tanhi', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'jfhg', 'jhfgg', 'ABC', '540456000'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'iuehrf', 'irufhf', 'ABC', '9876540000')]

In [22]:
cursor.execute("INSERT INTO iNeuron.emp VALUES ('1009','iuuuuehrf','irufhf','ABC',9876540000)")
mydb.commit()
print("DATA Inserted!!")

DATA Inserted!!

In [23]:
# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.
cursor.execute("SELECT emp_name, emp_sal FROM iNeuron.emp WHERE emp_sal = (SELECT Max(emp_sal) FROM iNeuron.emp);")
cursor.fetchall()

[('iuehrf', '9876540000'), ('iuuuuehrf', '9876540000')]