In [10]:
import mysql.connector as connection
mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
cursor= mydb.cursor()
cursor.execute("SELECT * FROM iNeuron.emp;")
cursor.fetchall()

[(1000, 'Rahul', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Janvi', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'Tara', 'jhfgg', 'ABC', '540456000'),
 (1003, 'Ullash', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'Hunny', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'Tiyasha', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'Jaggu', 'irufhf', 'ABC', '9876540000'),
 (1007, 'Sachin', 'ujuuu', 'XYZ', '540000'),
 (1008, 'Tanhi', 'Ktyuiu', 'ABC', '5403450'),
 (1009, 'jfhg', 'jhfgg', 'ABC', '540456000'),
 (10010, 'bfhjdk', 'jrhydgf', 'XYZ', '345540000'),
 (10011, 'euegeg', 'fhhffg', 'XYZ', '78540000'),
 (10012, 'iruyugbf', 'iurrygf', 'XYZ', '546780000'),
 (10013, 'iuehrf', 'irufhf', 'ABC', '9876540000')]

In [2]:
# Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method

cursor.execute("SELECT * FROM iNeuron.emp Emp1 WHERE (5)=(SELECT COUNT(DISTINCT(Emp2.emp_sal))FROM iNeuron.emp Emp2 WHERE Emp2.emp_sal >= Emp1.emp_sal)")
cursor.fetchall()

[(1004, 'euegeg', 'fhhffg', 'XYZ', '78540000')]

In [3]:
cursor.execute("CREATE TABLE iNeuron.empsame LIKE iNeuron.emp;")
print("Table Created!!")

Table Created!!

In [5]:
cursor.execute("INSERT INTO iNeuron.empsame VALUES ('1007','Sachin','ujuuu','XYZ',540000)")
cursor.execute("INSERT INTO iNeuron.empsame VALUES ('1008','Tanhi','Ktyuiu','ABC',5403450)")
cursor.execute("INSERT INTO iNeuron.empsame VALUES ('1009','jfhg','jhfgg','ABC',540456000)")
cursor.execute("INSERT INTO iNeuron.empsame VALUES ('10010','bfhjdk','jrhydgf','XYZ',345540000)")
cursor.execute("INSERT INTO iNeuron.empsame VALUES ('10011','euegeg','fhhffg','XYZ',78540000)")
cursor.execute("INSERT INTO iNeuron.empsame VALUES ('10012','iruyugbf','iurrygf','XYZ',546780000)")
cursor.execute("INSERT INTO iNeuron.empsame VALUES ('10013','iuehrf','irufhf','ABC',9876540000)")
mydb.commit()
print("DATA Inserted!!")

DATA Inserted!!

In [11]:
cursor.execute("SELECT * FROM iNeuron.empsame")
cursor.fetchall()

[(1000, 'Rahul', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Janvi', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'Tara', 'jhfgg', 'ABC', '540456000'),
 (1003, 'Ullash', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'Hunny', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'Tiyasha', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'Jaggu', 'irufhf', 'ABC', '9876540000'),
 (1007, 'Sachin', 'ujuuu', 'XYZ', '540000'),
 (1008, 'Tanhi', 'Ktyuiu', 'ABC', '5403450'),
 (1009, 'jfhg', 'jhfgg', 'ABC', '540456000'),
 (10010, 'bfhjdk', 'jrhydgf', 'XYZ', '345540000'),
 (10011, 'euegeg', 'fhhffg', 'XYZ', '78540000'),
 (10012, 'iruyugbf', 'iurrygf', 'XYZ', '546780000'),
 (10013, 'iuehrf', 'irufhf', 'ABC', '9876540000')]

In [13]:
# Q-20. Write an SQL query to fetch the list of employees with the same salary.

cursor.execute("SELECT emp_name, emp_sal From (SELECT emp_name, emp_sal, Count(*) Over (Partition by emp_sal) as SalaryCnt FROM iNeuron.empsame) S1 WHERE SalaryCnt>1 ORDER By emp_sal Desc")
cursor.fetchall()

[('Jaggu', '9876540000'),
 ('iuehrf', '9876540000'),
 ('Hunny', '78540000'),
 ('euegeg', '78540000'),
 ('Tiyasha', '546780000'),
 ('iruyugbf', '546780000'),
 ('Tara', '540456000'),
 ('jfhg', '540456000'),
 ('Janvi', '5403450'),
 ('Tanhi', '5403450'),
 ('Rahul', '540000'),
 ('Sachin', '540000'),
 ('Ullash', '345540000'),
 ('bfhjdk', '345540000')]