In [5]:
# establish connection
import mysql.connector as connection
mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
# check if the connection is established
print(mydb.is_connected())

# insert data
cursor = mydb.cursor()
cursor.execute("INSERT INTO iNeuron.Worker VALUES ('2003','Vipul','sdfghj','ABC','aaa')")
cursor.execute("INSERT INTO iNeuron.Worker VALUES ('2004','Satish','qwerty','XYZ','zzz')")
mydb.commit()
print("DATA Inserted!!")

# fetch data
cursor.execute("select * from iNeuron.Worker")
cursor.fetchall()

True
DATA Inserted!!

[(100, 'Amitabh', 'Finda', 'ABC', 'ami'),
 (1000, 'Sachin', 'Kumar', 'XYZ', 'aaa'),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb'),
 (1002, 'jfhg', 'jhfgg', 'ABC', 'ccc'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', 'eee'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (1006, 'iuehrf', 'irufhf', 'ABC', 'ggg'),
 (2000, 'Vipul', 'sdfghj', 'ABC', 'aaa'),
 (2001, 'Satish', 'qwerty', 'XYZ', 'zzz'),
 (2003, 'Vipul', 'sdfghj', 'ABC', 'aaa'),
 (2004, 'Satish', 'qwerty', 'XYZ', 'zzz'),
 (10007, 'Amitabh', 'Finda', 'ABC', 'ami')]

In [8]:
# Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.
cursor.execute("SELECT * FROM iNeuron.Worker WHERE first_name NOT IN ('Vipul', 'Satish')")
cursor.fetchall()

[(100, 'Amitabh', 'Finda', 'ABC', 'ami'),
 (1000, 'Sachin', 'Kumar', 'XYZ', 'aaa'),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb'),
 (1002, 'jfhg', 'jhfgg', 'ABC', 'ccc'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', 'eee'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (1006, 'iuehrf', 'irufhf', 'ABC', 'ggg'),
 (10007, 'Amitabh', 'Finda', 'ABC', 'ami')]

In [10]:
# Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.
cursor.execute("SELECT * FROM iNeuron.worker WHERE first_name LIKE '%h'")
cursor.fetchall()

[(100, 'Amitabh', 'Finda', 'ABC', 'ami'),
 (2001, 'Satish', 'qwerty', 'XYZ', 'zzz'),
 (2004, 'Satish', 'qwerty', 'XYZ', 'zzz'),
 (10007, 'Amitabh', 'Finda', 'ABC', 'ami')]

In [15]:
#create new emailvalidation table
query = "CREATE TABLE iNeuron.EmailVal (ID int(20) PRIMARY KEY, Name VARCHAR(60),Email VARCHAR(60), PhoneNo VARCHAR(60))"
cursor = mydb.cursor()
cursor.execute(query)
print("Table Created!!")

#insert values
cursor.execute("INSERT INTO iNeuron.EmailVal VALUES (1, 'Superman', 'superman@kmail.com', '(655) 981-4455')")
cursor.execute("INSERT INTO iNeuron.EmailVal VALUES (2, 'Batman', 'batmankmail.com', '6a5-981-4455')")
cursor.execute("INSERT INTO iNeuron.EmailVal VALUES (3, 'Spiderman', 'spiderman@com', '657-8154455')")
cursor.execute("INSERT INTO iNeuron.EmailVal VALUES (4, 'Flash Gordon', 'flashgordon@com', '(99) 981-44555')")
cursor.execute("INSERT INTO iNeuron.EmailVal VALUES (5, 'Phantom', 'phantom.test@gmail.com', '(999) 981-4455')")
mydb.commit()
print("DATA Inserted!!")

Table Created!!
DATA Inserted!!

In [18]:
cursor.execute("select * from iNeuron.EmailVal")
cursor.fetchall()

[(1, 'Superman', 'superman@kmail.com', '(655) 981-4455'),
 (2, 'Batman', 'batmankmail.com', '6a5-981-4455'),
 (3, 'Spiderman', 'spiderman@com', '657-8154455'),
 (4, 'Flash Gordon', 'flashgordon@com', '(99) 981-44555'),
 (5, 'Phantom', 'phantom.test@gmail.com', '(999) 981-4455')]

In [27]:
# Q-3. Write a query to validate Email of Employee.
cursor.execute("SELECT email, email REGEXP '^[A-Za-z0-9._%\-+!#$&/=?^|~]+@[A-Za-z0-9.-]+[.][A-Za-z]+$' AS valid_email FROM iNeuron.EmailVal")
cursor.fetchall()

[('superman@kmail.com', 1),
 ('batmankmail.com', 0),
 ('spiderman@com', 0),
 ('flashgordon@com', 0),
 ('phantom.test@gmail.com', 1)]