In [6]:
# Connect To DB Code:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

#create table
    query = "CREATE TABLE iNeuron.Workerjndt (Worker_ID int(20), First_Name VARCHAR(60),Last_Name VARCHAR(60), Department VARCHAR(60), Worker_Alias_Name VARCHAR(60), joining_date date)"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created!!")
#insert values
    cursor.execute("INSERT INTO iNeuron.Workerjndt VALUES ('1000','Sachin','Kumar','XYZ','aaa', '2014-02-12')")
    cursor.execute("INSERT INTO iNeuron.Workerjndt VALUES ('1001','Tanhi','Kumari','ABC','bbb', '2014-02-04')")
    cursor.execute("INSERT INTO iNeuron.Workerjndt VALUES ('1001','Tanhi','Kumari','ABC','bbb', '2014-02-04')")
    cursor.execute("INSERT INTO iNeuron.Workerjndt VALUES ('1001','Tanhi','Kumari','ABC','bbb', '2014-02-04')")
    cursor.execute("INSERT INTO iNeuron.Workerjndt VALUES ('1002','jfhg','jhfgg','ABC','ccc', '2016-02-15')")
    cursor.execute("INSERT INTO iNeuron.Workerjndt VALUES ('1003','bfhjdk','jrhydgf','XYZ','ddd', '2015-02-12')")
    mydb.commit()
    print("DATA Inserted!!")
except Exception as e:
    print(str(e))

True
Table Created!!
DATA Inserted!!

In [7]:
cursor.execute("select * from iNeuron.Workerjndt")
cursor.fetchall()

[(1000, 'Sachin', 'Kumar', 'XYZ', 'aaa', datetime.date(2014, 2, 12)),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb', datetime.date(2014, 2, 4)),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb', datetime.date(2014, 2, 4)),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb', datetime.date(2014, 2, 4)),
 (1002, 'jfhg', 'jhfgg', 'ABC', 'ccc', datetime.date(2016, 2, 15)),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd', datetime.date(2015, 2, 12))]

In [8]:
# Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.
cursor.execute("SELECT * FROM iNeuron.Workerjndt WHERE joining_date LIKE '2014-02%'")
cursor.fetchall()

[(1000, 'Sachin', 'Kumar', 'XYZ', 'aaa', datetime.date(2014, 2, 12)),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb', datetime.date(2014, 2, 4)),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb', datetime.date(2014, 2, 4)),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb', datetime.date(2014, 2, 4))]

In [10]:
# Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.
cursor.execute("SELECT joining_date, Worker_ID, COUNT(*) FROM iNeuron.Workerjndt GROUP BY joining_date, Worker_ID HAVING COUNT(*) > 1")
cursor.fetchall()

[(datetime.date(2014, 2, 4), 1001, 3)]

In [13]:
# Q-3. How to remove duplicate rows from Employees table.
cursor.execute("WITH CTE AS (SELECT First_Name, ROW_NUMBER() OVER(PARTITION BY First_Name ORDER BY Worker_ID) RowNumber FROM  iNeuron.Workerjndt)SELECT *FROM CTE WHERE RowNumber > 1")
cursor.fetchall()

[('Tanhi', 2), ('Tanhi', 3)]

In [15]:
cursor.execute("WITH CTE AS(SELECT First_Name, ROW_NUMBER() OVER(PARTITION BY First_Name ORDER BY Worker_ID) RowNumber FROM  iNeuron.Workerjndt)DELETE FROM CTE WHERE RowNumber>1")
cursor.fetchall()

DatabaseError: 1288 (HY000): The target table CTE of the DELETE is not updatable