In [1]:
# Connect To DB Code:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    #mydb.close()
except Exception as e:
    print(str(e))

True

In [2]:
mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
cursor= mydb.cursor()
cursor.execute("SELECT * FROM iNeuron.Worker;")
cursor.fetchall()

[(100, 'Amitabh', 'Finda', 'ABC', 'ami'),
 (1000, 'Sachin', 'Kumar', 'XYZ', 'aaa'),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb'),
 (1002, 'jfhg', 'jhfgg', 'ABC', 'ccc'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', 'eee'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (1006, 'iuehrf', 'irufhf', 'ABC', 'ggg'),
 (2000, 'Vipul', 'sdfghj', 'ABC', 'aaa'),
 (2001, 'Satish', 'qwerty', 'XYZ', 'zzz'),
 (2003, 'Vipul', 'sdfghj', 'ABC', 'aaa'),
 (2004, 'Satish', 'qwerty', 'XYZ', 'zzz'),
 (10007, 'Amitabh', 'Finda', 'ABC', 'ami')]

In [3]:
# Q-13. Write an SQL query to show only odd rows from aÂ table.

cursor.execute("Select * from iNeuron.Worker where (Worker_ID % 2) = 1;")
cursor.fetchall()

[(1001, 'Tanhi', 'Kumari', 'ABC', 'bbb'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (2001, 'Satish', 'qwerty', 'XYZ', 'zzz'),
 (2003, 'Vipul', 'sdfghj', 'ABC', 'aaa'),
 (10007, 'Amitabh', 'Finda', 'ABC', 'ami')]

In [4]:
# Q-14. Write an SQL query to clone a new table from another table.
cursor.execute("CREATE TABLE iNeuron.Workerclone LIKE iNeuron.Worker;")
print("Clone Table Created!!")

Clone Table Created!!