In [3]:
# Connect To DB Code:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    #mydb.close()
except Exception as e:
    print(str(e))

True

In [4]:
mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
cursor= mydb.cursor()
cursor.execute("SELECT * FROM iNeuron.Worker;")
cursor.fetchall()

[(1000, 'Sachin', 'Kumar', 'XYZ', 'aaa'),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb'),
 (1002, 'jfhg', 'jhfgg', 'ABC', 'ccc'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', 'eee'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (1006, 'iuehrf', 'irufhf', 'ABC', 'ggg')]

In [5]:
# Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table

mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
cursor= mydb.cursor()
cursor.execute("SELECT SUBSTRING(First_Name,1,3) FROM iNeuron.Worker;")
cursor.fetchall()

[('Sac',), ('Tan',), ('jfh',), ('bfh',), ('eue',), ('iru',), ('iue',)]

In [8]:
# Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
cursor= mydb.cursor()
cursor.execute("INSERT INTO iNeuron.Worker VALUES ('10007','Amitabh','Finda','ABC','ami')")
mydb.commit()
print("New Data Inserted!!")
cursor.execute("Select INSTR(FIRST_NAME, BINARY'a') from iNeuron.Worker where FIRST_NAME = 'Amitabh';")
cursor.fetchall()

New Data Inserted!!

[(5,), (5,)]

In [13]:



# Connect To DB Code:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    
#create table
    #query = "CREATE TABLE iNeuron.Worker (Worker_ID int(20) PRIMARY KEY, First_Name VARCHAR(60),Last_Name VARCHAR(60), Department VARCHAR(60), Worker_Alias_Name VARCHAR(60))"
    query = "CREATE TABLE iNeuron.emp(emp_id int PRIMARY KEY,emp_name text,emp_city text,Department text,emp_sal VARCHAR(60))"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created!!")
#insert values
    cursor.execute("INSERT INTO iNeuron.emp VALUES ('1000','Sachin','ujuuu','XYZ',540000)")
    cursor.execute("INSERT INTO iNeuron.emp VALUES ('1001','Tanhi','Ktyuiu','ABC',5403450)")
    cursor.execute("INSERT INTO iNeuron.emp VALUES ('1002','jfhg','jhfgg','ABC',540456000)")
    cursor.execute("INSERT INTO iNeuron.emp VALUES ('1003','bfhjdk','jrhydgf','XYZ',345540000)")
    cursor.execute("INSERT INTO iNeuron.emp VALUES ('1004','euegeg','fhhffg','XYZ',78540000)")
    cursor.execute("INSERT INTO iNeuron.emp VALUES ('1005','iruyugbf','iurrygf','XYZ',546780000)")
    cursor.execute("INSERT INTO iNeuron.emp VALUES ('1006','iuehrf','irufhf','ABC',9876540000)")
    mydb.commit()
    print("DATA Inserted!!")
except Exception as e:
    print(str(e))

True
Table Created!!
DATA Inserted!!

In [16]:
cursor.execute("SELECT * FROM iNeuron.emp")
cursor.fetchall()

[(1000, 'Sachin', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Tanhi', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'jfhg', 'jhfgg', 'ABC', '540456000'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'iuehrf', 'irufhf', 'ABC', '9876540000')]

In [15]:
# Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

cursor.execute("SELECT department, MAX(emp_sal) FROM iNeuron.emp GROUP BY department")
cursor.fetchall()

[('XYZ', '78540000'), ('ABC', '9876540000')]