In [4]:
# Connect To DB Code:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    
#create table
    #query = "CREATE TABLE iNeuron.Worker (Worker_ID int(20) PRIMARY KEY, First_Name VARCHAR(60),Last_Name VARCHAR(60), Department VARCHAR(60), Worker_Alias_Name VARCHAR(60))"
    query = "CREATE TABLE iNeuron.emp1(emp_id int PRIMARY KEY,emp_name text,emp_city text,Department text,emp_sal VARCHAR(60))"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created!!")
#insert values
    cursor.execute("INSERT INTO iNeuron.emp1 VALUES ('1000','Sachin    ','ujuuu','XYZ',540000)")
    cursor.execute("INSERT INTO iNeuron.emp1 VALUES ('1001','Tanhi    ','Ktyuiu','ABC',5403450)")
    cursor.execute("INSERT INTO iNeuron.emp1 VALUES ('1002','jfhg   ','jhfgg','ABC',540456000)")
    cursor.execute("INSERT INTO iNeuron.emp1 VALUES ('1003','bfhjdk   ','jrhydgf','XYZ',345540000)")
    cursor.execute("INSERT INTO iNeuron.emp1 VALUES ('1004','euegeg    ','fhhffg','XYZ',78540000)")
    cursor.execute("INSERT INTO iNeuron.emp1 VALUES ('1005','iruyugbf    ','iurrygf','XYZ',546780000)")
    cursor.execute("INSERT INTO iNeuron.emp1 VALUES ('1006','iuehrf   ','irufhf','ABC',9876540000)")
    mydb.commit()
    print("DATA Inserted!!")
except Exception as e:
    print(str(e))

True
Table Created!!
DATA Inserted!!

In [5]:
cursor.execute("SELECT * FROM iNeuron.emp1")
cursor.fetchall()

[(1000, 'Sachin    ', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Tanhi    ', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'jfhg   ', 'jhfgg', 'ABC', '540456000'),
 (1003, 'bfhjdk   ', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'euegeg    ', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'iruyugbf    ', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'iuehrf   ', 'irufhf', 'ABC', '9876540000')]

In [6]:
## Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.
cursor.execute("SELECT TRIM(emp_name) FROM iNeuron.emp1;")
cursor.fetchall()

[('Sachin',),
 ('Tanhi',),
 ('jfhg',),
 ('bfhjdk',),
 ('euegeg',),
 ('iruyugbf',),
 ('iuehrf',)]

In [12]:
#create table
query = "CREATE TABLE iNeuron.Worker1 (Worker_ID int(20) PRIMARY KEY, First_Name VARCHAR(60),Last_Name VARCHAR(60), Department VARCHAR(60), Worker_Alias_Name VARCHAR(60))"
cursor = mydb.cursor()
cursor.execute(query)
print("Table Created!!")
#insert values
cursor.execute("INSERT INTO iNeuron.Worker1 VALUES ('1000','Sachin','Kumar','XYZ','aaa')")
cursor.execute("INSERT INTO iNeuron.Worker1 VALUES ('1001','Tanhi','Kumari','ABCD','bbb')")
cursor.execute("INSERT INTO iNeuron.Worker1 VALUES ('1002','jfhg','jhfgg','ABCD','ccc')")
cursor.execute("INSERT INTO iNeuron.Worker1 VALUES ('1003','bfhjdk','jrhydgf','XYZ','ddd')")
cursor.execute("INSERT INTO iNeuron.Worker1 VALUES ('1004','euegeg','fhhffg','XYZ','eee')")
cursor.execute("INSERT INTO iNeuron.Worker1 VALUES ('1005','iruyugbf','iurrygf','XYZ','fff')")
cursor.execute("INSERT INTO iNeuron.Worker1 VALUES ('1006','iuehrf','irufhf','ABCD','ggg')")
mydb.commit()
print("DATA Inserted!!")

Table Created!!
DATA Inserted!!

In [13]:
cursor.execute("select * from iNeuron.Worker1")
cursor.fetchall()

[(1000, 'Sachin', 'Kumar', 'XYZ', 'aaa'),
 (1001, 'Tanhi', 'Kumari', 'ABCD', 'bbb'),
 (1002, 'jfhg', 'jhfgg', 'ABCD', 'ccc'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', 'eee'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (1006, 'iuehrf', 'irufhf', 'ABCD', 'ggg')]

In [15]:
cursor.execute("select DISTINCT department from iNeuron.Worker1")
cursor.fetchall()

[('XYZ',), ('ABCD',)]

In [16]:
# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.
cursor.execute("select DISTINCT length(department) from iNeuron.Worker1")
cursor.fetchall()

[(3,), (4,)]

In [18]:
cursor.execute("select * from iNeuron.emp")
cursor.fetchall()

[(1000, 'Sachin', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Tanhi', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'jfhg', 'jhfgg', 'ABC', '540456000'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'iuehrf', 'irufhf', 'ABC', '9876540000')]

In [32]:
# Q-3. Write an SQL query to fetch nth max salaries from a table.
# n=3
cursor.execute("SELECT * FROM iNeuron.emp Emp1 WHERE (3)=(SELECT COUNT(DISTINCT(Emp2.emp_sal))FROM iNeuron.emp Emp2 WHERE Emp2.emp_sal >= Emp1.emp_sal)")
cursor.fetchall()

[(1005, 'iruyugbf', 'iurrygf', 'XYZ', '546780000')]