In [2]:
import mysql.connector as connection
mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
cursor= mydb.cursor()
cursor.execute("SELECT * FROM iNeuron.emp;")
cursor.fetchall()

[(1000, 'Sachin', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Tanhi', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'jfhg', 'jhfgg', 'ABC', '540456000'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'iuehrf', 'irufhf', 'ABC', '9876540000'),
 (1009, 'iuuuuehrf', 'irufhf', 'ABC', '9876540000')]

In [3]:
cursor.execute("SELECT * FROM iNeuron.emp1;")
cursor.fetchall()

[(1000, 'Sachin    ', 'ujuuu', 'XYZ', '540000'),
 (1001, 'Tanhi    ', 'Ktyuiu', 'ABC', '5403450'),
 (1002, 'jfhg   ', 'jhfgg', 'ABC', '540456000'),
 (1003, 'bfhjdk   ', 'jrhydgf', 'XYZ', '345540000'),
 (1004, 'euegeg    ', 'fhhffg', 'XYZ', '78540000'),
 (1005, 'iruyugbf    ', 'iurrygf', 'XYZ', '546780000'),
 (1006, 'iuehrf   ', 'irufhf', 'ABC', '9876540000')]

In [6]:
# Q-15. Write an SQL query to fetch intersecting records of two tables.

cursor.execute("select emp_sal from iNeuron.emp INTERSECT select emp_sal from iNeuron.emp1;")
cursor.fetchall()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'select emp_sal from iNeuron.emp1' at line 1

In [7]:
# Q-16. Write an SQL query to show records from one table that another table does not have.

cursor.execute("SELECT emp_sal FROM iNeuron.emp MINUS SELECT emp_sal FROM iNeuron.emp1;")
cursor.fetchall()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT emp_sal FROM iNeuron.emp1' at line 1