In [21]:
## Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>

# Connect To DB Code:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Mohor@123",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    
#create DB
    query = "Create database iNeuron;"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Database Created!!")
#create table
    query = "CREATE TABLE iNeuron.Worker (Worker_ID int(20) PRIMARY KEY, First_Name VARCHAR(60),Last_Name VARCHAR(60), Department VARCHAR(60), Worker_Alias_Name VARCHAR(60))"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created!!")
#insert values
    cursor.execute("INSERT INTO iNeuron.Worker VALUES ('1000','Sachin','Kumar','XYZ','aaa')")
    cursor.execute("INSERT INTO iNeuron.Worker VALUES ('1001','Tanhi','Kumari','ABC','bbb')")
    cursor.execute("INSERT INTO iNeuron.Worker VALUES ('1002','jfhg','jhfgg','ABC','ccc')")
    cursor.execute("INSERT INTO iNeuron.Worker VALUES ('1003','bfhjdk','jrhydgf','XYZ','ddd')")
    cursor.execute("INSERT INTO iNeuron.Worker VALUES ('1004','euegeg','fhhffg','XYZ','eee')")
    cursor.execute("INSERT INTO iNeuron.Worker VALUES ('1005','iruyugbf','iurrygf','XYZ','fff')")
    cursor.execute("INSERT INTO iNeuron.Worker VALUES ('1006','iuehrf','irufhf','ABC','ggg')")
    mydb.commit()
    print("DATA Inserted!!")
except Exception as e:
    print(str(e))

True
Database Created!!
Table Created!!
DATA Inserted!!

In [25]:
cursor.execute("select * from iNeuron.Worker")
cursor.fetchall()

[(1000, 'Sachin', 'Kumar', 'XYZ', 'aaa'),
 (1001, 'Tanhi', 'Kumari', 'ABC', 'bbb'),
 (1002, 'jfhg', 'jhfgg', 'ABC', 'ccc'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', 'eee'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (1006, 'iuehrf', 'irufhf', 'ABC', 'ggg')]

In [26]:
#fetch firstname 
cursor.execute("select First_name from iNeuron.Worker where Worker_Alias_Name = 'ddd'")
cursor.fetchall()

[('bfhjdk',)]

In [27]:
## Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table. 
cursor.execute("select DISTINCT department from iNeuron.Worker")
cursor.fetchall()

[('XYZ',), ('ABC',)]

In [28]:
## Q-3. Write an SQL query to show the last 5 record from a table.
cursor.execute("SELECT * FROM (SELECT * FROM iNeuron.Worker ORDER BY Worker_ID DESC LIMIT 5)Var1 ORDER BY Worker_ID ASC;")
cursor.fetchall()

[(1002, 'jfhg', 'jhfgg', 'ABC', 'ccc'),
 (1003, 'bfhjdk', 'jrhydgf', 'XYZ', 'ddd'),
 (1004, 'euegeg', 'fhhffg', 'XYZ', 'eee'),
 (1005, 'iruyugbf', 'iurrygf', 'XYZ', 'fff'),
 (1006, 'iuehrf', 'irufhf', 'ABC', 'ggg')]